// Colors variables 
$bg-color: #eeeeee;
$bg-color2: #FFFFFF;
$font-color : #03a9f4;
$fnt-color : #757575;
$gplus :#DD4B39;
$twitter:#00aced;
$fb:#3b5998;
$github:#EEB999;
// material box sahdow 
$shadow1 : 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow2 : 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

// Fonts 
$roboto : 'Roboto', sans-serif;

// Position 
.absolute{position: absolute;}
.relative{position: relative;}