@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,500,500italic,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,600);
a {
  text-decoration: none;
  color: #5183BC; }

a, button,
input[type="submit"] {
  cursor: pointer; }

li {
  list-style: none; }

.btn {
  border-radius: 4px;
  padding: 4px 8px; }

.facebook {
  background-color: #3b5998;
  color: #FFFFFF; }

.twitter {
  background-color: #55acee;
  color: #FFFFFF; }

.google {
  background-color: #dc4e41;
  color: #FFFFFF; }

.github {
  background-color: #666666;
  color: #FFFFFF; }

.fa {
  padding-right: 5px; }

*, html, body {
  padding: 0;
  margin: 0; }

body {
  font-family: "Open Sans", sans-serif; }

.container {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #FFFFFF; }
  .container header {
    width: 100%;
    min-height: 30px;
    padding: 10px; }
    .container header .nav {
      position: absolute;
      left: 80%;
      top: 2%;
      padding: 5px;
      height: 20px;
      width: 260px; }
      .container header .nav a {
        padding: 6px 10px; }
      .container header .nav .blog {
        color: #FFFFFF;
        background-color: #5183BC;
        border-radius: 4px;
        padding: 6px 12px; }
  .container .card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    .container .card .avatar {
      margin: 0 auto;
      min-height: auto;
      padding: 5px; }
      .container .card .avatar img {
        border-radius: 50%;
        width: 120px;
        height: 120px;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0%); }
    .container .card .title h1 {
      text-align: center;
      font-weight: 600;
      letter-spacing: -2px;
      font-size: 3em;
      color: black; }
    .container .card .about p {
      padding: 10px;
      color: #aaaaaa;
      line-height: 1.4;
      font-weight: 300;
      font-size: 20px; }
    .container .card .social-links {
      padding: 10px; }
      .container .card .social-links a {
        padding: 4px 8px; }
  .container .wrap {
    width: 850px;
    margin: 40px auto;
    padding: 20px; }
    .container .wrap .thumb {
      width: 280px;
      height: 170px;
      background-color: #e6e6e6;
      display: inline-block;
      background-size: cover;
      position: relative;
      cursor: pointer;
      overflow: hidden; }
    .container .wrap .works-title {
      padding-bottom: 10px;
      margin-top: -20px; }
      .container .wrap .works-title h1 {
        text-align: center;
        font-weight: 600;
        line-height: 1.2;
        font-size: 3em; }
    .container .wrap .thumb .layer {
      background-color: transparent;
      padding: 10px; }
    .container .wrap .thumb .title {
      width: calc(100% - 40px);
      background-color: white;
      position: absolute;
      bottom: 10px;
      padding: 10px; }
    .container .wrap .thumb .title h3 {
      margin: 0;
      color: #333333;
      font-weight: 600;
      font-size: 13px; }
    .container .wrap .thumb .info {
      display: none;
      transform: translate(0, -20px);
      color: white;
      padding: 10px;
      font-size: 12px;
      font-weight: 300; }
    .container .wrap .thumb:hover .layer {
      transition: background-color .1s linear;
      background-color: rgba(0, 0, 0, 0.7); }
    .container .wrap .thumb:hover .title {
      width: calc(100% - 20px);
      background-color: transparent;
      position: static; }
    .container .wrap .thumb:hover .title h3 {
      color: white; }
    .container .wrap .thumb:hover .info {
      display: block; }
  .container .post {
    padding-top: 2em; }
    .container .post .post-title {
      padding-left: 10px; }
    .container .post .post-decription {
      line-height: 1.7;
      padding: 10px;
      font-size: 17px; }
    .container .post .post-time {
      padding-left: 10px;
      color: #bbb;
      cursor: pointer; }
      .container .post .post-time:hover {
        color: #5183BC; }
    .container .post .post-author {
      margin-left: 100px;
      margin-top: -22px; }
      .container .post .post-author h4 {
        cursor: pointer;
        color: #bbb; }
        .container .post .post-author h4:hover {
          color: #5183BC; }

/*# sourceMappingURL=main.css.map */
