/* 
Start Stylesheet 
Author :pro4medo@gmail.com;
license : GPL;
Version : 0.0.2;
*/
@import '_vars.scss';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900);
// let's start some styling here 
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: $roboto !important;
	color: $fnt-color;
	overflow: hidden;
}
img{
	display: inline-block;
}
a{
	color: $font-color;
	text-decoration: none;
}
.container{
	width: 100%;
	height: 100%;
	background-color: $bg-color;
	.container_badge{
		width: 100%;
		height: 40%;
		.avatar{
			width: 200px;
			height: 200px;
			border-radius: 50%;
			box-shadow: $shadow-1;
			left: 42.6%;top: 40%;
			&:hover{
				box-shadow: $shadow-2;
			}
		}	
	}
	.container_info{
		width: 100%;
		height: 50%;
		.about{
			text-align: center;
			position: relative;
			top: 14%;
			left: 29%;
			width: 42%;
			.title{
				color: $font-color;
				font-size: 28px;
				font-family: $roboto;
				padding-bottom: 8px;
				padding-top: 5px;
			}
			.bio{
				color: $fnt-color;
				padding: 15px;
				/* Quote styling 
				&:before{
					 content: "“";
				}
				&:after{
					content: "”";
				}
				*/
			}
		}
		.links{
			width: 40%;
			height: 30%; 
			position: relative;
			top: 14%;
			left: 30.5%;
			padding: 10px 5px;
			font-size: 16px;
			.fb_link{
				color: white;
				padding: 5px 10px;
				background-color: $fb;
			}
			.twitter_link{
				color: white;
				padding: 5px 10px;
				background-color: $twitter;
			}
			.github_link{
				color: white;
				padding: 5px 10px;
				background-color: $github;
			}
			.gplus_link{
				color: white;
				padding: 5px 10px;
				background-color: $gplus;
			}
		}
	}
}

