@import 'vars';

*,html,body{
	padding: 0;
	margin: 0;
}
body {
  font-family: $opensans;
}

.container{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: $white;
	header{
		width: 100%;
		min-height: 30px;
		//background-color: red;
		padding: 10px;
		.nav{
            //background-color: red;
			position: absolute;
			left: 80%;
			top: 2%; 
			padding: 5px;
			height: 20px;
            width: 260px;
			a{
				padding: 6px 10px;
			}
			.blog{
			color: $white ; 
			background-color: $link;
			border-radius: 4px;
			padding: 6px 12px ;
		    }
		}
	}
    .card{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        //border: 1px solid grey;
        .avatar{
            //border: 1px solid grey;
            margin: 0 auto;
            min-height: auto;
            padding: 5px;
            img{
                border-radius: 50%;
                width: 120px;
                height: 120px;
                position: relative; 
                left: 50%;
                transform: translate(-50%, 0%);
            }
        }
        .title{
            h1{
            text-align: center;
            font-weight: 600;
            letter-spacing: -2px;
            font-size: 3em;
            color: black;
            }
        }
        .about{
            p{
            padding: 10px;
            color: $brown;
            line-height: 1.4;
            font-weight: 300;
            font-size: 20px;
        }
        }
        .social-links{
            padding: 10px;
            a{
                padding: 4px 8px;
            }
        }
    }


.wrap {
    width: 850px;
    margin: 40px auto;
    padding: 20px;
    .thumb {
        width: 280px;
        height: 170px;
        background-color: hsl(0, 0%, 90%);
        display: inline-block;
        background-size: cover;
        position: relative;
        cursor: pointer;
        overflow: hidden;
}
.works-title{
    padding-bottom: 10px;
    margin-top: -20px;
    h1{
        text-align: center;
        font-weight: 600;
        line-height: 1.2;
        font-size: 3em;
    }
}
.thumb .layer {
    background-color: hsla(0, 0%, 0%, 0);
    padding: 10px;
}
.thumb .title {
    width: calc(100% - 40px);
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    bottom: 10px; 
    padding: 10px;
}
.thumb .title h3 {
    margin: 0;
    color: hsl(0, 0%, 20%);
    font-weight: 600;
    font-size: 13px;
}
.thumb .info {
    display: none;
    transform: translate(0, -20px);
    color: hsl(0, 0%, 100%);
    padding: 10px;
    font-size: 12px;
    font-weight: 300;
}
.thumb:hover .layer {
    transition: background-color .1s linear;
    background-color: hsla(0, 0%, 0%, .7);
}
.thumb:hover .title {
    width: calc(100% - 20px);
    background-color: hsla(0, 0%, 0%, 0);
    position: static;
}
.thumb:hover .title h3 {
    color: hsl(0, 0%, 100%);
}
.thumb:hover .info {
    display: block;
}
}
.post{
    padding-top: 2em;
    .post-title{
        padding-left: 10px;
    }
    .post-decription{
        line-height: 1.7;
        padding: 10px;
        font-size: 17px;
    }
    .post-time{
        padding-left: 10px;
        color: $grey;
        cursor: pointer;
        &:hover{
            color: $link;
        }
    }
    .post-author{
        margin-left: 100px;
        margin-top: -22px;
        h4{
            cursor: pointer;
            color: $grey;
        &:hover{
            color: $link;
        }
    }
    }
}
}


